# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/

# PDF files
data/pdfs/*
app/data/pdfs/*

# FAISS index
data/vectors/*
app/data/vectors/*

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log